body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*TARJETA*/
.card {
  background: white;
  padding: 30px;
  width: 360px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h2 {
  color: black; /* 🔥 antes gris */
  margin-bottom: 20px;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

/* Maquinarias list in dashboard */
.card h2 {
  text-align: center;
}

.maquinas-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.maquina-item {
  color: #6f6b78;
  font-size: 18px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: black;        /* 🔥 negro */
  text-align: left;    /* 🔥 izquierda */
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
  color: black;

  box-sizing: border-box;
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #c62828;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #a61c1c;
}

/*LINK*/
.link {
  text-align: center;
  margin-top: 15px;
}

.link .texto {
  font-size: 12px;
  color: #666;
}

/*registrarse*/
.link .accion {
  font-size: 13px;
  color: #c62828;
  cursor: pointer;
  font-weight: 500;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

/* CONTENEDOR */
.roles {
  display: flex;
  gap: 1mm;
  margin: 20px 0;
}

/* BOTONES BASE */
.role-btn {
  flex: 1;
  padding: 16px;      /* 🔥 un poco más alto */
  border-radius: 12px;
  border: 1px solid #ddd;
  background: white;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

/* HOVER (opcional pero queda pro) */
.role-btn:hover {
  border-color: #c62828;
}

/* ACTIVO */
.role-btn.active {
  background: #c62828;
  color: white;
  border: none;
}
